<main class="max-w-[1200px] mx-auto my-0">
    <form action="/vacancies/new" method="POST" class="max-w-[800px] mt-16 mx-auto space-y-5">
        <h3 class="text-slate-600 font-bold m-0 mb-12 text-5xl uppercase">Informaci贸n General</h3>

        <div class="flex items-center">
            <label for="" class="flex-auto w-1/4 text-xl text-white font-bold uppercase">Titulo</label>
            <input type="text" name="title" class="h-10 px-3 py-1 text-xl rounded-2xl border-none outline-none w-3/4" placeholder="Ej: React Developer" required>
        </div>
        <div class="flex items-center">
            <label for="" class="flex-auto w-1/4 text-xl text-white font-bold uppercase">Empresa</label>
            <input type="text" name="company" class="h-10 px-3 py-1 text-xl rounded-2xl border-none outline-none w-3/4" placeholder="Empresa que contrata" required>
        </div>
        <div class="flex items-center">
            <label for="" class="flex-auto w-1/4 text-xl text-white font-bold uppercase">Ubicaci贸n</label>
            <input type="text" name="location" class="h-10 px-3 py-1 text-xl rounded-2xl border-none outline-none w-3/4" placeholder="Ej: Colombia o Remoto" required>
        </div>
        <div class="flex items-center">
            <label for="" class="flex-auto w-1/4 text-xl text-white font-bold uppercase">Salario (USD)</label>
            <input type="text" name="salary" class="h-10 px-3 py-1 text-xl rounded-2xl border-none outline-none w-3/4" placeholder="Ej: $500 USD" required>
        </div>
        <div class="flex items-center">
            <label for="" class="flex-auto w-1/4 text-xl text-white font-bold uppercase">Contrato</label>
            <select name="agreement" class="h-10 px-3 py-1 text-xl rounded-2xl border-none outline-none w-3/4">
                <option class="text-xl" value="" disabled selected>-- Selecciona --</option>
                <option class="text-xl" value="freelance">Freelance</option>
                <option class="text-xl" value="fulltime">Tiempo Completo</option>
                <option class="text-xl" value="halftime">Medio Tiempo</option>
                <option class="text-xl" value="byproject">Por Proyecto</option>
            </select>
        </div>
        <h3 class="text-slate-600 font-bold m-0 text-3xl">Descripci贸n del puesto</h3>
        <div class="flex flex-col mb-8">
            <label class="flex-auto w-1/4 text-xl text-white font-bold uppercase mb-3">Descripci贸n</label>
            <input type="hidden" id="x" name="description" class="mb-3 rounded">
            <trix-editor class="trix-editor text-slate-800 bg-slate-50 h-96" input="x"></trix-editor>
        </div>
        <h3 class="text-slate-600 font-bold m-0 text-3xl">Conocimientos</h3>
        <ul class="list-none p-0 flex justify-between flex-wrap gap-4" id="knowledge-list">
            {{#selectedSkills a}}
            {{/selectedSkills}}
        </ul>

        <div class="mb-3 flex justify-center">
            <input type="submit" value="Publicar" class="text-xl my-5 py-3 px-16 rounded-lg text-white font-bold uppercase no-underline block border-none transition bg-sky-500 hover:bg-sky-600 cursor-pointer">
        </div>
    </form>

</main>